<style>
        section#content {  min-height: 600px; padding: 0; position: relative; overflow: hidden; }
        #main { padding-top: 70px; }
        .page-title, .page-description { color: #fff; }
        .page-title { font-size: 4.1667em; font-weight: bold; }
        .page-description { font-size: 2.5em; margin-bottom: 50px; }
        .featured { position: absolute; right: 50px; bottom: 50px; z-index: 9; margin-bottom: 0;  text-align: right; }
        .featured figure a { border: 2px solid #fff; }
        .featured .details { margin-right: 10px; }
        .featured .details > * { color: #fff; line-height: 1.25em; margin: 0; font-weight: bold; text-shadow: 2px -2px rgba(0, 0, 0, 0.2); }
    </style>

<section id="content" class="slideshow-bg">
        <div id="slideshow">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="slidebg" style="background-image: url(images/mulher.jpg);"></div>

                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url(images/arvore.jpg);"></div>

                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url(images/comissaria.jpg);"></div>

                    </li>       
                    
                </ul>
            </div>
        </div>
        <div id="main" ng-controller="buscaVooFormController">
                <h1 class="page-title">Dê um play nas suas experiênicas!</h1>
                <h2 class="page-description col-md-6 no-float no-padding">Escolha seu destino e comece o jogo.</h2>
                <div class="search-box-wrapper style2" >
                    <div class= "col-md-6 col-lg-6 col-sm-6 col-xs-12" >
                    <div class="search-box">
                        <ul class="search-tabs clearfix"> 
                            <li><a href="#flights-tab" data-toggle="tab"><i class="soap-icon-plane-right takeoff-effect"></i><span>FLIGHTS</span></a></li>    
                        </ul>
                        <div class="visible-mobile">
                            <ul id="mobile-search-tabs" class="search-tabs clearfix">  
                                <li class="active"><a href="#flights-tab">FLIGHTS</a></li>     
                            </ul>
                        </div>
                        <div class="search-tab-content">
                                <form name='frmBusvaVoo'">
                                    <h4 class="title">Escolha seu destino:</h4>
                                    
                                    <div div class="col-md-3">
                                        <input type="checkbox" name="options" id="option2" autocomplete="off" checked ng-model='vooRq.idaVolta'> Ida e Volta
                                    </div>
                                    <div div class="col-md-6">
                                        <input type="checkbox" name="options" id="option2" autocomplete="off" checked ng-model='vooRq.somenteVoosDiretos'> Somente voos diretos
                                    </div>

                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input type="text" class="input-text full-width" placeholder="Leaving From (city, distirct or specific airpot)" ng-model='vooRq.localPartida' />
                                            </div>                                               
                                        </div>
                                            <div class="col-md-3">
                                                <div class="form-group row">                                                        
                                                        <div class="datepicker-wrap">
                                                            <input type="text" name="date_from" class="input-text full-width" placeholder="Departing On" ng-model='vooRq.dataPartida' />
                                                    </div>                                                       

                                                </div>
                                            </div>
                                        
                                    </div>
                                    <div class="row">                                          
                                        <div class="col-md-9">                                                
                                            <div class="form-group">
                                                <input type="text" class="input-text full-width" placeholder="Going To (city, distirct or specific airpot)" ng-model='vooRq.localChegada' />
                                            </div>
                                        </div>
                                            
                                            <div class="col-md-3">
                                                <div class="form-group row">
                                                        <div class="datepicker-wrap">
                                                            <input type="text" name="date_to" class="input-text full-width" placeholder="Arriving On" ng-model='vooRq.dataChegada' />
                                                        </div>                                                     
                                                </div>
                                            </div>
                                    </div>  
                                    <div class="row">
                                        <div class="col-xs-4">  </div>
                                        <div class="col-xs-4">
                                            <div class="form-group row">  
                                                <button class="full-width">
                                                    <a class="full-width" href="{{ 'buscaVoo' | route:{vooRq: vooRq.localPartida } }}"  class="btn btn-primary btn-lg btn-block">BUSCAR</a>
                                                
                                                </button>   
                                            </div>
                                        </div>
                                        <div class="col-xs-4">  </div>
                                    </div>
                                </form>
                        </div> 
                    </div>
                    </div>    
                </div>  
            </div>
            
    </section>
   
    <!-- Rotação da imagem de fundo da página principal -->
    <script type="text/javascript">
        tjq(".flexslider").flexslider({
            animation: "fade",
            controlNav: false,
            animationLoop: true,
            directionNav: false,
            slideshow: true,
            slideshowSpeed: 5000
        });
    </script>
    <script type="text/javascript" src="js/theme-scripts.js"></script> 
