<style>
        section#content {  min-height: 600px; padding: 0; position: relative; overflow: hidden; }
        #main { padding-top: 70px; }
        .page-title, .page-description { color: #fff; }
        .page-title { font-size: 4.1667em; font-weight: bold; }
        .page-description { font-size: 2.5em; margin-bottom: 50px; }
        .featured { position: absolute; right: 50px; bottom: 50px; z-index: 9; margin-bottom: 0;  text-align: right; }
        .featured figure a { border: 2px solid #fff; }
        .featured .details { margin-right: 10px; }
        .featured .details > * { color: #fff; line-height: 1.25em; margin: 0; font-weight: bold; text-shadow: 2px -2px rgba(0, 0, 0, 0.2); }
    </style>

<section id="content" class="slideshow-bg">
        <div id="slideshow">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="slidebg" style="background-image: url(images/mulher.jpg);"></div>

                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url(images/arvore.jpg);"></div>

                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url(images/comissaria.jpg);"></div>

                    </li>       
                    
                </ul>
            </div>
        </div>
        <div id="main" ng-controller="buscaVooFormController">
           
                <h1 class="page-title">Dê um play nas suas experiênicas!</h1>
                <h2 class="page-description col-md-6 no-float no-padding">Escolha seu destino e comece o jogo.</h2>
                <div class="search-box-wrapper style2" >
                    <div class= "col-md-6 col-lg-6 col-sm-6 col-xs-12" >
                    <div class="search-box">
                        <ul class="search-tabs clearfix"> 
                            <li><a href="#flights-tab" data-toggle="tab"><i class="soap-icon-plane-right takeoff-effect"></i><span>FLIGHTS</span></a></li>    
                        </ul>
                        <div class="visible-mobile">
                            <ul id="mobile-search-tabs" class="search-tabs clearfix">  
                                <li class="active"><a href="#flights-tab">FLIGHTS</a></li>     
                            </ul>
                        </div>
                        <div class="search-tab-content">
                            <form name="formVooRq">
                                    <h4 class="title">Escolha seu destino:</h4>
                                    
                                    <div div class="col-md-3">
                                        <input type="checkbox" name="options" id="option2" autocomplete="off" checked ng-model='vooRq.IdaVolta'> Ida e Volta
                                    </div>
                                    <div div class="col-md-6">
                                        <input type="checkbox" name="options" id="option2" autocomplete="off" checked ng-model='vooRq.SomenteVoosDiretos'> Somente voos diretos
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group"> 
                                                 <!--<input type="text" class="input-text full-width" placeholder="Leaving From (city, distirct or specific airpot)" ng-model='vooRq.LocalPartida' />-->
                                                <angucomplete  inputClass="input-text full-width" id="ex1" placeholder="Local Partida" pause="100" selectedobject="vooRq.LocalPartida" localdata="airports" searchfields="POI_NAME" titlefield="POI_NAME, VENDOR_CODE" descriptionField="VENDOR_CODE"  minlength="1"  matchclass="highlight" ng-model='vooRq.LocalPartida' />
                                            </div>                                               
                                        </div>
                                            <div class="col-md-3">
                                                <div class="form-group row">  
                                                         <input type="date" class="input-text full-width" ng-model='vooRq.DataPartida' value="{{ date | date: 'DD/MM/YY' }}" />                                                      
                                                        <!--<div class="datepicker-wrap" id="dataPartida">
                                                            <input type="text" name="date_from" class="input-text full-width" placeholder="Data Partida" ng-model='vooRq.DataPartida' /> 
                                                           
                                                        </div> -->
                                                        <!--<input type="date" name="date_from" class="input-text full-width" placeholder="Data Partida" ng-model='vooRq.DataPartida' input-datepicker /> -->                                                     

                                                </div>
                                            </div>
                                        
                                    </div>
                                    <div class="row">                                          
                                        <div class="col-md-9">                                                
                                            <div class="form-group">
                                                 <!--<input type="text" class="input-text full-width" placeholder="Going To (city, distirct or specific airpot)" ng-model='vooRq.LocalChegada' />-->
                                                <angucomplete  inputClass="input-text full-width" id="ex1" placeholder="Local Chegada" pause="100" selectedobject="vooRq.LocalChegada" localdata="airports" searchfields="POI_NAME" titlefield="POI_NAME, VENDOR_CODE" descriptionField="VENDOR_CODE" minlength="1"  matchclass="highlight" ng-model='vooRq.LocalChegada' />
                                            </div>
                                        </div>
                                            
                                            <div class="col-md-3">
                                                <div class="form-group row">  
                                                    <div class="datepicker-wrap">
                                                        <input type="text" id="dataChegada" name="date_to" class="input-text full-width" placeholder="Data Chegada" ng-model='vooRq.DataChegada' />
                                                    </div>                                                 
                                                </div>
                                            </div>
                                    </div>  
                                    <div class="row">
                                        <div class="col-xs-4">  </div>
                                        <div class="col-xs-4">
                                            <div class="form-group row">  
                                                <button ng-click="buscarVoos(vooRq)" class="btn btn-primary btn-lg btn-block">BUSCAR</button>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">  </div>
                                    </div> 
                                    </form>
                        </div> 
                    </div>
                    </div>    
                </div>  
            </div>
            
    </section>
   
    <!-- Rotação da imagem de fundo da página principal -->
    <script type="text/javascript">
        tjq(".flexslider").flexslider({
            animation: "fade",
            controlNav: false,
            animationLoop: true,
            directionNav: false,
            slideshow: true,
            slideshowSpeed: 5000
        });
    </script>
    <script type="text/javascript" src="js/theme-scripts.js"></script> 
