<div modal="showModal" id="detalhes_voo" class="travelo-login-box_detalhes travelo-box" >
            <h1>Detalhes do Voo</br><small> De {{segmentoDetail.AeroportoPartida}} a {{segmentoDetail.AeroportoChegada}}
            Voo - nº {{segmentoDetail.NumeroVoo}} - Classe Econômica - {{segmentoDetail.SiglaCompanhia}}</small></h1> </br>

                                                                    
            Saída: {{segmentoDetail.DataPartida | date:'dd/MM/yyyy' }} | Sexta Feira | Horário: {{segmentoDetail.DataPartida | date:'HH:mm'}} - Local: Rio de Janeiro | Aeroporto Santos Dumont - {{segmentoDetail.AeroportoPartida}} </br>	Chegada: {{segmentoDetail.DataChegada | date:'dd/MM/yyyy'}} | Sexta Feira | Horário: {{segmentoDetail.DataChegada | date:'HH:mm'}} - Local: São Paulo | Aeroporto Internacional Guarulhos - {{segmentoDetail.AeroportoChegada}}

            </br>                                                        
            Percentuais de atrasos e cancelamentos de vôos</br>
            4,35% de atraso com mais de 30 minutos</br>
            4,35% de atraso com mais de 40 minutos</br>
            23,33% de cancelamentos</br></br>
                                                                    
            A Submarino Viagens disponibiliza em cumprimento à Resolução ANAC 218 - que estabelece a tranparência e divulgação dos percentuais de atrasos e cancelamento de voos do transporte aéreo de passageiros no Brasil, o link com as estatísticas fornecidas pela Agência Nacional de Aviação Civil: anac.gov.br/atrasosecancelamentos.Lembramos que a informação estará disponível mensalmente e refere-se sempre ao mês anterior.
</div>