<div>
    <div class="modal-header">
        <h3 class="modal-title">
            Aposta
        </h3>
        
    </div>
    <div class="modal-body">
        <div class="alert alert-success" role="alert">Sua aposta foi realizada com sucesso!!</div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <p>Acesse seu email e siga as instrucoes para continuar o jogo.</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="controls">
            <button class="btn btn-primary" type="button" ng-click="close()">Fechar</button> 
        </div>
    </div>
</div>
